::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #6568ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #68d134;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width:auto;
}

.center {
    width: 550px;
    margin: auto;
    height: 500px;
  }
  
  html {
    box-sizing: border-box;
    align-items: center;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: center;
    width: 430px;
    margin: 0 auto;
    margin-top: 1px;
    align-items: center;
  }

.card {
    transform: scale(0.7);
    transition: 0.3s;
    margin: 10px;
    height: 500px;
    width: 446px;
    align-self: center;
    align-content: center;
    align-items: center;
  }
  
  div.card {
    width: 425px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 27, 0.274), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(13, 12, 16, 0.453);
  }

   .container {
    padding: 0 16px;
    align-self: center;
    align-content: center;
    align-items: center;
    max-width: auto;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
     align-items: center;
  }

  hr.dashed {
    border-top:dashed 2px rgb(105, 97, 220);
  }

  .toptext {
    font-family: 'Verdana', 'Trebuchet MS', 'Tahoma', sans-serif;
    color:rgb(146, 79, 95);
    transition: color 0.2s ease-out 0.3s;
  }

  .studtext {
    font-family: 'Verdana', 'Trebuchet MS', 'Tahoma', sans-serif;
    color:rgb(110, 130, 110);
    transition: color 0.2s ease-out 0.3s;
  }

  h2:hover {
    color: rgb(240, 142, 215);
  }

  h3:hover {
    color: rgb(139, 225, 129);
  }

  .colorc {
    font-family:Verdana, 'Geneva', Tahoma, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
  }

  .alert {
    padding: 10px;
    width: 240px;
    background-color: #f6e994;
    color: rgb(80, 64, 42);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .closebtn {
    margin-left: 15px;
    color: rgb(80, 64, 42);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: rgb(126, 71, 34);
  }

  dd {
    font-family:Verdana, 'Geneva', Tahoma, sans-serif;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}